.App {
  font-size: 1.5rem;
  margin-top: 2rem;
  height: 90vh;
  width: 90vw;
}
.form-control,
.col-form-control {
  margin: 0.3rem;
}

.comp {
  padding: 0.8rem;
}

.card {
  margin: 0.2rem;

  background-color: rgb(0, 0, 0);
  overflow: auto;
  color: rgb(232, 194, 148);
}

button {
  margin: 0.5rem;
}

.sold-items {
  max-height: 90vh;
}
.num-display {
  color: rgb(67, 209, 67);
}

.banner {
  padding: 0.5rem;
}
@media screen and (max-width: 800px) {
  .App {
    font-size: 1rem;
    margin-top: 1rem;
    width: 95vw;
  }
}
