body {
  background-image: url("../public/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Limelight", cursive;
  background-color: black;
}
.form-control {
  background-color: beige;
}
@media screen and (max-width: 800px) {
  body {
    background-size: contain;
    background-repeat: repeat-y;
    font-size: 2rem;
  }
}
